@import '_constants';
@import 'theme';

body {
    margin: 0;
}

md-toolbar.app-toolbar {
    min-height: $md-toolbar-height;
    padding: 0 16px;

    md-toolbar-row {
        height: $md-toolbar-height;
    }
}

.app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    outline: none;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-content {
    padding: 20px;

    md-card {
        margin: 20px;
    }
}