@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-indigo, A700);
$accent:  md-palette($md-blue, 200);
$warn:    md-palette($md-red, 600);
$theme: md-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);