
<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Shlooper!

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <md-card> Welcome to BUCKETS! </md-card>
    <md-card> Welcome to BUCKETS! </md-card>
    <md-card> Welcome to BUCKETS! </md-card>
    <md-card> Welcome to BUCKETS! </md-card>
    <md-card> Welcome to BUCKETS! </md-card>
    <md-card> Welcome to BUCKETS! </md-card>
  </div>

</md-sidenav-layout>