
<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary" class="app-toolbar">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Shlooper!

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <md-card *ngFor="let bucket of buckets | async">{{ bucket.name }}</md-card>
  </div>

</md-sidenav-layout>

<span class="app-action">
  <button md-fab (click)="addBucket()"><md-icon>add</md-icon></button>
</span>